{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Delete course{% endblock %}
{% block content %}
    <div class="container my-5">
        <h1>Delete course "{{ object.title }}"</h1>
        <div class="module">
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object }}"?</p>
                <input type="submit" class="btn btn-warning" value="Confirm">
            </form>
        </div>
    </div>
{% endblock %}
